* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.App {
  text-align: center;
}

.App *{
  border-radius: 15px;
}

header {
  object-fit: cover;
  margin:30px auto;
}
header img{
  height:100px;
}

.container {
  margin:auto;
  width:300px;
  border:1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #ff822e 39.47%, #4ba6db 39.47%, #4ba6db 50%, #ff822e 50%, #ff822e 89.47%, #4ba6db 89.47%, #4ba6db 100%);
  background-size: 537.40px 537.40px;
}
.container h1{
  width:100%;
  font-size:20px;
  color:white;
}
.card{
  border:1px solid black;
  background-color:white;
  width:120px;
  height:100px;
  margin:10px;
}

.front{
  position: absolute;
  background-color:white;
  opacity: 1;
  width:120px;
  height:100px;
}

.card:hover{  
  box-shadow: 0 0 20px black;
}

.card:hover img{  
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}
.card img{
  height:50px;
  max-width:100px;
}
.card p{
  margin: 5px;
}

.card ul{
  list-style-position: inside;
  font-size: 12px;
  line-height: 15px;
  display: block;
  text-align: left;
  padding:5px;
}